<md-toolbar>Grid List</md-toolbar>
<p>
    <code class="snippet">md-grid-list</code> is a two-dimensional list view that arranges cells into grid-based layout.
    See <a class="link" href="https://material.angular.io/components/grid-list/overview">documentation</a>.
</p>
<md-grid-list cols="3" rowHeight="fit" gutterSize="4px">
    <md-grid-tile *ngFor="let image of images" class="example-grid-tile">
        <img md-card-image [src]="image" class="grid-image">
    </md-grid-tile>
</md-grid-list>
<md-toolbar color="primary">Code</md-toolbar>
<md-tab-group>
    <md-tab label="grid-list.component.html">
        <prism language="markup">
&lt;md-grid-list cols="3" rowHeight="fit" gutterSize="4px"&gt;
    &lt;md-grid-tile *ngFor="let image of images" class="example-grid-tile"&gt;
        &lt;img md-card-image [src]="image" class="grid-image"&gt;
    &lt;/md-grid-tile&gt;
&lt;/md-grid-list&gt;
        </prism>
    </md-tab>
    <md-tab label="grid-list.component.ts">
        <prism language="typescript">
import {{'{'}} Component {{'}'}} from '@angular/core';

@Component({{'{'}}
    selector: 'grid-list-usage',
    templateUrl: './grid-list.component.html',
    styleUrls: ['./grid-list.component.css']
{{'}'}})
export class GridListComponent {{'{'}}
    images = [
            '/assets/microsoft.svg',
            '/assets/webpack.svg',
            '/assets/github-icon.svg',
            '/assets/visual-studio.svg',
            '/assets/angular-icon.svg',
            '/assets/chrome.svg'
    ];
{{'}'}}
        </prism>
    </md-tab>
    <md-tab label="grid-list.component.css">
        <prism language="css">
md-grid-list {{'{'}}
    margin: 20px;
    height: 600px;
    justify-content: center;
{{'}'}}

.example-grid-tile {{'{'}}
    background-color: #444;
{{'}'}}

.grid-image {{'{'}}
    height: 90%;
    width: 90%;
{{'}'}}
        </prism>
    </md-tab>
</md-tab-group>