<md-toolbar>Menu</md-toolbar>
<p>
    <code class="snippet">md-menu</code> is a floating panel containing list of options. See <a class="link" href="https://material.angular.io/components/menu/overview"
        target="_blank">documentation</a>.
</p>
<h3>Menu Example</h3>
<section class="example">
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu" [overlapTrigger]="false">
        <button md-menu-item>
            <md-icon>dialpad</md-icon>
            <span>Redial</span>
        </button>
        <button md-menu-item disabled>
            <md-icon>voicemail</md-icon>
            <span>Check voicemail</span>
        </button>
        <button md-menu-item>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
    </md-menu>
</section>
<md-toolbar color="primary">Code</md-toolbar>
<md-tab-group>
    <md-tab label="menu.component.html">
        <prism language="markup">&lt;h3&gt;Menu Example&lt;/h3&gt;
&lt;section class="example"&gt;
    &lt;button md-icon-button [mdMenuTriggerFor]="menu"&gt;
        &lt;md-icon&gt;more_vert&lt;/md-icon&gt;
    &lt;/button&gt;
    &lt;md-menu #menu="mdMenu" [overlapTrigger]="false"&gt;
        &lt;button md-menu-item&gt;
            &lt;md-icon&gt;dialpad&lt;/md-icon&gt;
            &lt;span&gt;Redial&lt;/span&gt;
        &lt;/button&gt;
        &lt;button md-menu-item disabled&gt;
            &lt;md-icon&gt;voicemail&lt;/md-icon&gt;
            &lt;span&gt;Check voicemail&lt;/span&gt;
        &lt;/button&gt;
        &lt;button md-menu-item&gt;
            &lt;md-icon&gt;notifications_off&lt;/md-icon&gt;
            &lt;span&gt;Disable alerts&lt;/span&gt;
        &lt;/button&gt;
    &lt;/md-menu&gt;
&lt;/section&gt;</prism>
    </md-tab>
    <md-tab label="menu.component.ts">
        <prism language="typescript">import {{'{'}} Component {{'}'}} from '@angular/core';

@Component({{'{'}}
    selector: 'menu-usage',
    templateUrl: './menu.component.html',
    styleUrls: ['./menu.component.css']
{{'}'}})
export class MenuComponent {{'{'}}{{'}'}}</prism>
    </md-tab>
    <md-tab label="menu.component.css">
        <prism language="css">.example {{'{'}}
    margin-left: 20px;
    margin-bottom: 20px;
{{'}'}}</prism>
    </md-tab>
</md-tab-group>