<div [ngClass]="materialTheme" class="app-frame">
  <md-toolbar color="primary" class="fixed-toolbar">
    <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
    <span class="toolbar-header">Web Platform Development</span>
    <span class="example-spacer"></span>
    <button md-button *ngFor="let theme of themes" (click)="themeService.setTheme(theme)">{{theme.display}}</button>
    <a md-icon-button href="https://github.com/JaimeStill/AspNetCoreMaterial" target="_blank"><md-icon svgIcon="github"></md-icon></a>
  </md-toolbar>
  <md-sidenav-container [ngClass]="materialTheme" class="mat-typography">
    <md-sidenav #sidenav mode="side" opened="true">
      <md-nav-list>
        <a md-list-item routerLink="/home" routerLinkActive="active">Home</a>        
        <md-divider></md-divider>
        <h3 md-subheader>Downloads</h3>
        <a md-list-item href="https://nodejs.org/en/" target="_blank">Node</a>
        <a md-list-item href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>
        <md-divider></md-divider>
        <h3 md-subheader>Getting Started</h3>
        <a md-list-item routerLink="/setup" routerLinkActive="active">Setup</a>
        <a md-list-item routerLink="/theming" routerLinkActive="active">Theming</a>
        <a md-list-item routerLink="/typography" routerLinkActive="active">Typography</a>
        <a md-list-item routerLink="/data-table" routerLinkActive="active">Data Table</a>
        <md-divider></md-divider>
        <h3 md-subheader>Form Controls</h3>
        <a md-list-item routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
        <a md-list-item routerLink="/checkbox" routerLinkActive="active">Checkbox</a>
        <a md-list-item routerLink="/datepicker" routerLinkActive="active">Datepicker</a>
        <a md-list-item routerLink="/input" routerLinkActive="active">Input</a>
        <a md-list-item routerLink="/radio" routerLinkActive="active">Radio</a>
        <a md-list-item routerLink="/select" routerLinkActive="active">Select</a>
        <a md-list-item routerLink="/slider" routerLinkActive="active">Slider</a>
        <a md-list-item routerLink="/slide-toggle" routerLinkActive="active">Slide Toggle</a>
        <md-divider></md-divider>
        <h3 md-subheader>Navigation</h3>
        <a md-list-item routerLink="/menu" routerLinkActive="active">Menu</a>
        <a md-list-item routerLink="/sidenav" routerLinkActive="active">Sidenav</a>
        <a md-list-item routerLink="/toolbar" routerLinkActive="active">Toolbar</a>
        <md-divider></md-divider>
        <h3 md-subheader>Layout</h3>
        <a md-list-item routerLink="/list" routerLinkActive="active">List</a>
        <a md-list-item routerLink="/grid-list" routerLInkActive="active">Grid List</a>
        <a md-list-item routerLink="/card" routerLinkActive="active">Card</a>
        <a md-list-item routerLink="/tabs" routerLinkActive="active">Tabs</a>
        <md-divider></md-divider>
        <h3 md-subheader>Buttons, Indicators &amp; Icons</h3>
        <a md-list-item routerLink="/button" routerLinkActive="active">Button</a>
        <a md-list-item routerLink="/button-toggle" routerLinkActive="active">Button Toggle</a>
        <a md-list-item routerLink="/chip" routerLinkActive="active">Chip</a>
        <a md-list-item routerLink="/icon" routerLinkActive="active">Icon</a>
        <a md-list-item routerLink="/progress-spinner" routerLinkActive="active">Progress Spinner</a>
        <a md-list-item routerLink="/progress-bar" routerLinkActive="active">Progress Bar</a>
        <md-divider></md-divider>
        <h3 md-subheader>Popups &amp; Modals</h3>
        <a md-list-item routerLink="/dialog" routerLinkActive="active">Dialog</a>
        <a md-list-item routerLink="/tooltip" routerLinkActive="active">Tooltip</a>
        <a md-list-item routerLink="/snackbar" routerLinkActive="active">Snackbar</a>
        <md-divider></md-divider>
        <h3 md-subheader>Data Table</h3>
        <a md-list-item routerLink="/table-basic" routerLinkActive="active">Table - Basic</a>
        <a md-list-item routerLink="/table-filter" routerLinkActive="active">Table - Filter</a>
      </md-nav-list>
    </md-sidenav>
    <div class="app-body">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </md-sidenav-container>
</div>