@import '~@angular/material/_theming.scss';
@include mat-core();

$app-warn: mat-palette($mat-deep-orange);
$default-theme: mat-dark-theme(mat-palette($mat-green), mat-palette($mat-red), $app-warn);
@include angular-material-theme($default-theme);

html, body, app {
    overflow: hidden;
}

html, body, app, .app-frame {
    margin: 0;
    height: 100%;
}

.fixed-toolbar {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.mat-typography h1, 
.mat-typography h2, 
.mat-typography h3, 
.mat-typography h4, 
.mat-typography h5, 
.mat-typography h6, 
.mat-typography p,
md-card.mat-card,
p.mat-caption,
md-input-container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

md-card.mat-card {
    margin-bottom: 20px;
}

md-card.image-card {
    max-width: 600px;
}

div.inline-card md-card.mat-card {
    display: inline-block;
    padding: 24px 0px 0px 0px;
}

a.active {
    font-weight: bold;
}

md-sidenav-container {
    height: 100%;
    margin-top: 64px;
    padding-bottom: 64px;
}

md-sidenav.mat-sidenav {
    padding-bottom: 64px;
}

code {
    font-family: Consolas, "Lucida Console", Monaco, monospace;
}

prism {
    background-color: #1E1E1E;
    display: flex;
    color: #D4D4D4;
    box-sizing: border;
    padding: 24px;
    margin: 0;
}

prism.card-snippet {
    display: block;
    padding: 10px 24px;
    margin: 0;
}

code.block {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment {
    color: #608b4e;
}

.token.class-name {
    color: #4bc9b0;
}

.token.number {
    color: #b5cea8;
}

.token.regex {
    color: #d16969;
}

.token.tag {
    color: #569cd6;
}

.token.selector {
    color: #d7ba7d;
}

.token.inserted {
    color: #b5cea8;
}

.token.deleted {
    color: #ce9178;
}

.token.punctuation {
    color: #808080;
}

.token.string,
.language-css .token.string,
.style .token.string,
.token.attr-value {
    color: #ce9178;
}

.token.attr-name,
.token.char,
.token.builtin,
.token.property,
.token.variable,
.token.token.atrule,
.token.important {
    color: #9cdcfe;
}

.token.keyword,
.token.boolean,
.token.constant,
.token.symbol {
    color: #569cd6;
}

.token.operator,
.token.entity {
    color: #d4d4d4;
}

.token.prolog,
.token.doctype,
.token.cdata {
	color: #608b4e;
}

.namespace {
	opacity: .7;
}

.token.url {
	color: #a67f59;
}

.token.function {
	color: #DCDCAA;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

md-sidenav.mat-sidenav, div.app-body {
    overflow: auto;
}

md-nav-list.mat-nav-list .mat-subheader {
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

.green-app {
    background-color: black;
    $green-app-primary: mat-palette($mat-green, A400);
    $green-app-accent: mat-palette($mat-light-blue, A400);
    $green-dark: mat-dark-theme($green-app-primary, $green-app-accent);
    @include angular-material-theme($green-dark);    
}

.green-app code.snippet,
.green-app .app-body a,
.green-app .app-body a:visited,
.green-app a.active div.mat-list-item-content,
.green-app .md-option.mat-selected.map-primary,
.green-app .mat-primary .mat-option.mat-selected {
    color: map-get($mat-green, A400);
}

.red-app {
    background-color: black;
    $red-app-primary: mat-palette($mat-red);
    $red-app-accent: mat-palette($mat-blue);
    $red-dark: mat-dark-theme($red-app-primary, $red-app-accent, $app-warn);
    @include angular-material-theme($red-dark);
}

.red-app code.snippet,
.red-app .app-body a,
.red-app .app-body a:visited,
.red-app a.active div.mat-list-item-content,
.red-app .md-option.mat-selected.map-primary,
.red-app .mat-primary .mat-option.mat-selected {
    color: map-get($mat-red, 400);
}

.blue-app {
    background-color: black;
    $blue-app-primary: mat-palette($mat-light-blue, A400);
    $blue-app-accent: mat-palette($mat-orange);
    $blue-dark: mat-dark-theme($blue-app-primary, $blue-app-accent);
    @include angular-material-theme($blue-dark);
}

.blue-app code.snippet,
.blue-app .app-body a,
.blue-app .app-body a:visited,
.blue-app a.active div.mat-list-item-content,
.blue-app .md-option.mat-selected.map-primary,
.blue-app .mat-primary .mat-option.mat-selected {
    color: map-get($mat-light-blue, A400);
}

div.cdk-overlay-container {
    background-color: transparent;
}

prism pre,
prism pre code {
    background-color: #1E1E1E;
}