<md-toolbar>Radio</md-toolbar>
<p>
    <code class="snippet">md-radio</code> provides the same functionality as a native <code class="snippet">input type="radio"</code>    
    enhanced with Material Design styling and animations. See <a href="https://material.angular.io/components/radio/overview"
        target="_blank">documentation</a>.
</p>
<h3>Select App Theme:</h3>
<md-radio-group class="example-radio-group" (change)="setTheme($event)">
    <md-radio-button class="example-radio-button" *ngFor="let theme of themes" [value]="theme">
        {{theme.display}}
    </md-radio-button>
</md-radio-group>
<md-toolbar color="primary">Code</md-toolbar>
<md-tab-group>
    <md-tab label="radio.component.html">
        <prism language="markup">&lt;h3&gt;Select App Theme:&lt;/h3&gt;
&lt;md-radio-group class="example-radio-group" (change)="setTheme($event)"&gt;
    &lt;md-radio-button class="example-radio-button" *ngFor="let theme of themes" [value]="theme"&gt;
        {{'{'}}{{'{'}}theme.display{{'}'}}{{'}'}}
    &lt;/md-radio-button&gt;
&lt;/md-radio-group&gt;</prism>
    </md-tab>
    <md-tab label="radio.component.ts">
        <prism language="typescript">import {{'{'}} Component {{'}'}} from '@angular/core';
import {{'{'}} Theme {{'}'}} from '../../models/theme.model';
import {{'{'}} ThemeService {{'}'}} from '../../services/theme.service';
import {{'{'}} MdRadioChange {{'}'}} from '@angular/material';

@Component({{'{'}}
    selector: 'radio-usage',
    templateUrl: './radio.component.html',
    styleUrls: ['./radio.component.css']
{{'}'}})
export class RadioComponent {{'{'}}
    themes: Array&lt;Theme&gt;;

    constructor(private themeService: ThemeService) {{'{'}}
        this.themes = this.themeService.getThemes();
    {{'}'}}

    setTheme(event: MdRadioChange) {{'{'}}
        this.themeService.setTheme(event.value);
    {{'}'}}
{{'}'}}</prism>
    </md-tab>
    <md-tab label="radio.component.css">
        <prism language="css">.example-radio-group {{'{'}}
    display: inline-flex;
    flex-direction: column;
{{'}'}}

.example-radio-button {{'{'}}
    margin: 5px;
{{'}'}}

md-radio-group {{'{'}}
    margin-bottom: 20px;
    margin-left: 20px;
{{'}'}}</prism>
    </md-tab>
</md-tab-group>