<div class="app-content">
  <md-card *ngFor="let data of (myData ? myData.slice(0,6): []); let i = index">
    <md-card-header>
      <md-card-title>{{ data.title }}</md-card-title>
      <md-card-subtitle><a href="https://jsonplaceholder.typicode.com/" target="_blank">JSONPlaceholder</a></md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{data.url}}">
    <md-card-content>
      <a href="https://material.io/guidelines/" target="_blank">Material Guidelines</a>
    </md-card-content>
    <md-card-actions>
      <button md-button>EDIT</button>
      <button md-button>DELETE</button>
    </md-card-actions>
  </md-card>
</div>