<p class="mat-body-2">
  This project represents the final stages of building the ASP.NET Core / Angular / Material Web Platform. It focuses on integration of the 
  Angular Material UI Framework, as well as documenting the usage of the components that comprise the framework.
</p>
<md-list>
  <h3 md-subheader>Items to Complete</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Establish a structured format for documentation</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Structure theming and styling to support the documentation format</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Provide integration documentation for Angular Setup Guide</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Provide integration documentation for Angular Theming Guide</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Provide integration documentation for Angular Typography Guide</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Create documentation for each of the Material Components</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Components - Form Controls</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Autocomplete</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Checkbox</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Datepicker</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Input</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Radio button</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Select</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Slider</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Slide toggle</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Components - Navigation</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Menu</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Sidenav</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Toolbar</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Components - Layout</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>List</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Grid list</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box</md-icon>
    <p md-line>Card</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Tabs</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Components - Buttons, Indicators &amp; Icons</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Button</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Button toggle</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Chips</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Icon</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Progress spinner</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Progress bar</p>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Components - Popups &amp; Modals</h3>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Dialog</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Tooltip</p>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>check_box_outline_blank</md-icon>
    <p md-line>Snackbar</p>
  </md-list-item>
</md-list>