<h2>
  This project represents my efforts to integrate <a class="link" href="https://material.angular.io" target="_blank">Angular Material</a>  into the
  <a class="link" href="https://angular.io" target="_blank">Angular</a> <a class="link" href="https://github.com/aspnet/JavaScriptServices"
    target="_blank">aspnetcore-spa</a> project, as well as familiarize myself with the UI Framework. It focuses on the integration
  of Angular Material, as well as the usage of its components.
</h2>
<div class="card-container">
  <a [href]="card.url" target="_blank" class="link-card" *ngFor="let card of cards">
    <md-toolbar color="accent">{{card.header}}</md-toolbar>
    <div class="image-container">
      <img [src]="card.src" class="card-image">
    </div>
  </a>
</div>