<md-toolbar>Overview</md-toolbar>
<h2>
  This project represents my efforts to integrate Angular Material into Microsoft's Angular aspnetcore-spa project. In addition, I wanted to 
  familiarize myself with how Angular Material works. It focuses on the integration of Angular Material, as well as the usage of its components.
</h2>
<div class="card-container">
  <a [href]="card.url" target="_blank" class="link-card" *ngFor="let card of cards">
    <md-toolbar color="accent">{{card.header}}</md-toolbar>
    <div class="image-container">
      <img [src]="card.src" class="card-image">
    </div>
  </a>
</div>